body {
  background: linear-gradient(-225deg, #ff057c 0%, #7c64d5 48%, #4cc3ff 100%);
}

.weather-app-body {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 30px auto;
  background: #fff;
}

button {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: #fff;
  cursor: pointer;
}

.city {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #007cb9;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-family: monospace;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.humidity-wind {
  text-align: left;
}

p {
  color: #007cb9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

small {
  text-align: center;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #000;
}

.celsius-unit {
  text-decoration: none;
  color: #000;
}

.current-temperature,
.units {
  font-size: 20px;
  font-family: monospace;
}

.weather-forecast {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
